@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap");

:root {
  --primary-color: #6cd591;
  --primary-dark-color: #1b2626;
  --secondary-color: #293a36;
  --white-color: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--white-color);
}
#menu-bar {
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-dark-color);
}

header a {
  margin-left: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: inherit;
  color: var(--primary-color);
}
header .navbar a:hover {
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: 0.5s;
}
.logo a {
  font-weight: bolder;
}
.hero {
  display: flex;
  justify-content: center;
  width: 100%;
}
.hero-img {
  background-image: linear-gradient(
      to right,
      rgba(5, 218, 151, 0.8) 0%,
      rgba(3, 37, 65, 0) 100%
    ),
    url("../img/hero-img.jpg");
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);
}
.inner-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  width: 100%;
  margin-bottom: 20px;
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar {
  width: 100%;
  max-width: 600px;
  background: white;
  border-radius: 60px;
  padding: 0.5rem 1rem;
}
.search-bar input {
  width: 100%;
  max-width: 600px;
  background: transparent;
  outline: none;
  border: 0;
  font-size: 1rem;
  color: var(--primary-color);
}
.search-bar ::placeholder {
  width: 100%;
  color: var(--primary-color);
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main img {
  width: 100%;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--primary-dark-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.movie-info {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.movie-info .rating {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 50%;
}
.movie-info .rating span {
  color: var(--primary-dark-color);
  font-weight: bold;
}

.overview {
  background-color: var(--primary-dark-color);
  color: var(--primary-color);
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.6s ease-in;
}
.movie:hover .overview {
  transform: translateY(0);
}
.overview .title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.overview a {
  color: var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
}

@media (max-width:700px){
  #menu-bar{
    display: initial;
  }
  .movie{
    width: 80%;
  }
  .navbar{
    display: none;
  }
}
